* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #FFFFFF;
}

a {
  text-decoration: none !important;

  &:visited {
    color: #000000;
  }
}

.action {
  cursor: pointer;
  transition: 100ms ease-in-out;

  &:hover {
    color: #FFC64C;
    transform: scale(1.05);
  }
}

.index {
  background: #E5E5E5;
  min-height: 100vh;
}

.cards {
  padding: 30px;
  flex-direction: row;
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 100ms ease-in-out;
  width: 220px;
  margin: 20px 10px 0 10px;
  align-content: start;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  }

  &__avatar {
    padding: 40px 0;
    width: 100%;

    &-image {
      width: 100px;
      height: 100px;
      border-radius: 90px;
      border: 1px solid #C4C4C4;
      margin: auto;
      background: #E5E5E5 url("/static/no_avatar.png");
      background-size: contain;
    }
  }

  &__text {
    &-main {
      display: block;
      width: 100%;
      color: #000000;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      line-height: 21px;
      padding-top: 20px;
    }

    &-secondary {
      display: block;
      width: 100%;
      color: #888888;
      font-style: normal;
      font-size: 14px;
      text-align: center;
      padding-top: 10px;
      font-weight: normal;
      line-height: normal;
    }

    &-other-info {
      color: #000000;
      word-wrap: break-word;
      width: 150px;
      margin: auto;
    }
  }
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 33px;
  left: 40px;
  z-index: 100;

  &__head {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    max-height: 0;
    border-top: 6.5px solid transparent;
    border-bottom: 6.5px solid transparent;
    border-right: 9px solid #1A252A;
  }

  &__body {
    display: inline-block;
    position: absolute;
    top: 5.5px;
    left: 9px;
    width: 20px;
    height: 0;
    border: 1px solid #000000;
    transform: rotate(-180deg);
  }

  &__text {
    display: inline-block;
    position: absolute;
    top: -13px;
    left: 29px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    line-height: normal;
  }
}

.profile {
  .card {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    transition: none;
    margin: 40px auto auto auto;

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &__text {
      &-main-secondary {
        font-size: 16px;
      }

      &-other-info {
        width: 360px;
      }
    }

    & hr {
      margin: 20px auto 0 auto;
      width: 100%;
      max-width: 500px;
      border: 1px solid #D5D5D5;
    }
  }
}

.form {
  margin-top: 20px;
  display: inline-block;

  & label {
    margin-right: 9px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
  }

  & input[type=text] {
    width: 170px;
    height: 30px;
    margin-left: 9px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding-left: 10px;

    &:focus {
      background: #e1f2f5;
      color: #646464;
      text-transform: uppercase;
      border-width: 0;
      cursor: pointer;
      transition: .2s linear
    }
  }

  & input[type=submit] {
    width: 85px;
    height: 30px;
    color: #FFFFFF;
    background: #47B2FF;
    border-radius: 4px;
    border: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }

  &-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;

    &::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border: 5px solid transparent;
      border-top-color: black;
    }
  }

}
